VITE_BASE_PATH= /empreender
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec
VITE_SECONDARY_APPS_SCRIPT_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID_DA_SEGUNDA_PLANILHA/exec
VITE_RECAPTCHA_SITE_KEY=SUA_SITE_KEY_RECAPTCHA_V2
VITE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSdw12nttWOfb4chxPK_zeucc97I5Tf4wg6naV1AGBx9FwIe7g/viewform?usp=header
